<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail App</title>

</head>
<body>

<header>
    <h1>{{ letter }}</h1>
</header>

<!--<nav>-->
    <ul>
        {% for cocktail in cocktails %}
        <li display="inline">{{ cocktail.name }}</li>
        {% endfor %}
    </ul>
<!--</nav>-->

<main>
    {% block content %}
    <!-- Default content goes here -->
    {% endblock %}
</main>

<footer>

</footer>
</body>
</html>



