<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Cocktail App</title>
</head>
<body>


<main>

    <div style="position: relative; width: 0; height: 0">
        <div style="position: absolute; right: 50px;">
            <a href="/">
                <img width="60px" height="60px" style="display: inline;" src="https://www.pngkit.com/png/full/335-3354041_clipart-of-home-button-icon-twitter-icon-black.png">
            </a>
        </div>
    </div>

    <header class="topRounded" style="position: relative;">

        <div style="right: 25px; position: absolute;">
            <h3>Type: {{ ingredient.type }}</h3>

            {% if ingredient.isAlcoholic() == true %}
            <h3>ABV: {{ ingredient.abv }}%</h3>
            {% endif %}
        </div>

        <h1>{{ ingredient.name }}</h1>


    </header>

 <inner>


     <p>{{ ingredient.description }}</p>




     <h2>Cocktails containing "{{ ingredient.name }}"</h2>


     <ul class="cocktailList">
         {% for cocktail in cocktails %}

         <a href="cocktail?id={{ cocktail.id }}">

             <li class="cocktailListItem">
                 <h3>{{ cocktail.name }}</h3>
                 <img class="cocktailThumbnail" src="{{ cocktail.imageUrl }}">
             </li>

         </a>
         {% endfor %}
     </ul>

 </inner>


</main>

<footer>

</footer>
</body>
</html>



