<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail App</title>
    <style>

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            display: block;
            margin-left: 20px;
            margin-right: 10px;
        }
        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>

<header>
    <h2>{{ ingredient.name }}</h2>
</header>

<p>{{ ingredient.description }}</p>

<h2>Cocktails containing "{{ ingredient.name }}"</h2>

<ul>
    {% for cocktail in cocktails %}

    <form action="cocktail" method="get">
        <input type="hidden" name="id" value="{{ cocktail.id }}">
        <li>
            <p>{{ cocktail.name }}</p>
            <img src="{{ cocktail.imageUrl }}">
            <button type="submit" >Go to Page</button>
        </li>
    </form>


    {% endfor %}

</ul>


<main>
    {% block content %}
    <!-- Default content goes here -->
    {% endblock %}
</main>

<footer>

</footer>
</body>
</html>



