<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Cocktail App</title>

</head>
<body>

<header>
</header>

<h2>Search results for: {{ term }}</h2>

    {% for cocktail in cocktails %}


    <a href="cocktail?id={{ cocktail.id }}">

        <li>
            <p>{{ cocktail.name }}</p>
            <img src="{{ cocktail.imageUrl }}">
        </li>

    </a>



    {% endfor %}



<main>
    {% block content %}
    <!-- Default content goes here -->
    {% endblock %}
</main>

<footer>

</footer>
</body>
</html>



