<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random cocktail:</title>
</head>
<body>
<header>
    <h1>{{ cocktailName }}!</h1>
</header>

<nav>
    <ul>
        {% for item in navigation_items %}
<!--        <li><a href="{{ item.url }}">{{ item.label }}</a></li>-->
<!--        {% endfor %}-->
    </ul>
</nav>

<main>
    {% block content %}
    <!-- Default content goes here -->
    {% endblock %}
</main>

<footer>
    <p>&copy; {{ current_year }}. All rights reserved.</p>
</footer>
</body>
</html>



