
header {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,1);
    padding: 25px;
    margin-bottom: 25px;
    font-size: 36;
    text-align-last: center;
}


body {
   background-image: url('https://images.unsplash.com/photo-1597290282695-edc43d0e7129?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2075&q=80');
}

main {
   background-color: rgba(235,235,235, 0.75);
   margin-left: 20%;
   margin-right: 20%;
   padding: 50px;
   text-align-last: center;
}

ul {
   list-style-type: none;
   padding: 0;
   display: flex;
}

li {
   margin-left: 20px;
   margin-right: 10px;
}

img {
   width: 300px;
   height: 300px;
}

.decoration {
    max-width: 100%;
}

.letter {
    margin-right: 3px;
    margin-left: 3px;
    font-size: 24px;
    padding: 8px;
    background-color : #d1d1d1;
    text-align: center;
}

.letterList {
      display: flex;
      justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.cocktailListItem {

   display: block;
   margin-left: 20px;
   margin-right: 10px;
}

.inline{
   display: inline;
}